<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombiningTopAccents</key>
  <array>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>uni0302</string>
    <string>uni030C</string>
    <string>uni0311</string>
    <string>uni0306</string>
    <string>tildecomb</string>
    <string>uni0308</string>
    <string>uni0307</string>
    <string>uni030A</string>
    <string>uni030B</string>
    <string>uni0304</string>
    <string>uni0312</string>
    <string>gravecomb.i</string>
    <string>acutecomb.i</string>
  </array>
  <key>grek_UC</key>
  <array>
    <string>Alpha</string>
    <string>Beta</string>
    <string>Gamma</string>
    <string>uni0394</string>
    <string>Epsilon</string>
    <string>Zeta</string>
    <string>Eta</string>
    <string>Theta</string>
    <string>Iota</string>
    <string>Kappa</string>
    <string>Lambda</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Xi</string>
    <string>Omicron</string>
    <string>Pi</string>
    <string>Rho</string>
    <string>Sigma</string>
    <string>Tau</string>
    <string>Upsilon</string>
    <string>Phi</string>
    <string>Chi</string>
    <string>Psi</string>
    <string>uni03A9</string>
    <string>Alphatonos</string>
    <string>Epsilontonos</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
    <string>Iotadieresis</string>
    <string>Omicrontonos</string>
    <string>Upsilontonos</string>
    <string>Upsilondieresis</string>
    <string>Omegatonos</string>
    <string>Omicron_Upsilon</string>
  </array>
  <key>grek_UC_tonos</key>
  <array>
    <string>Alphatonos</string>
    <string>Epsilontonos</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
    <string>Omicrontonos</string>
    <string>Upsilontonos</string>
    <string>Omegatonos</string>
  </array>
  <key>grek_UC_tonosless</key>
  <array>
    <string>Alpha</string>
    <string>Epsilon</string>
    <string>Eta</string>
    <string>Iota</string>
    <string>Omicron</string>
    <string>Upsilon</string>
    <string>uni03A9</string>
  </array>
  <key>grek_lc</key>
  <array>
    <string>alpha</string>
    <string>beta</string>
    <string>gamma</string>
    <string>delta</string>
    <string>epsilon</string>
    <string>zeta</string>
    <string>eta</string>
    <string>theta</string>
    <string>iota</string>
    <string>kappa</string>
    <string>lambda</string>
    <string>uni03BC</string>
    <string>nu</string>
    <string>xi</string>
    <string>omicron</string>
    <string>pi</string>
    <string>rho</string>
    <string>uni03C2</string>
    <string>sigma</string>
    <string>tau</string>
    <string>upsilon</string>
    <string>phi</string>
    <string>chi</string>
    <string>psi</string>
    <string>omega</string>
    <string>alphatonos</string>
    <string>epsilontonos</string>
    <string>etatonos</string>
    <string>iotatonos</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>omicrontonos</string>
    <string>upsilontonos</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>omegatonos</string>
    <string>gamma_gamma</string>
    <string>lambda_lambda</string>
  </array>
  <key>loclBGR_0</key>
  <array>
    <string>uni0414</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni045D</string>
    <string>uni043A</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0446</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044C</string>
    <string>uni044E</string>
  </array>
  <key>loclBGR_1</key>
  <array>
    <string>uni0414.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni045D.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Lambda</string>
    <string>uni0394</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>uni013B</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Upsilontonos</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni0232</string>
    <string>uni1EF4</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>underscore</string>
  </array>
  <key>public.kern1.quote</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.A1</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>uni0122</string>
  </array>
  <key>public.kern2.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
  </array>
  <key>public.kern2.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Upsilontonos</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni0232</string>
    <string>uni1EF4</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern2.alpha</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
    <string>epsilon</string>
    <string>epsilontonos</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>rho</string>
    <string>sigma</string>
    <string>uni03C2</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>underscore</string>
  </array>
  <key>public.kern2.quote</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
</dict>
</plist>
