<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CombiningTopAccents</key>
  <array>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>uni0302</string>
    <string>uni030C</string>
    <string>uni0311</string>
    <string>uni0306</string>
    <string>tildecomb</string>
    <string>uni0308</string>
    <string>uni0307</string>
    <string>uni030A</string>
    <string>uni030B</string>
    <string>uni0304</string>
    <string>uni0312</string>
    <string>gravecomb.i</string>
    <string>acutecomb.i</string>
  </array>
  <key>grek_UC</key>
  <array>
    <string>Alpha</string>
    <string>Beta</string>
    <string>Gamma</string>
    <string>uni0394</string>
    <string>Epsilon</string>
    <string>Zeta</string>
    <string>Eta</string>
    <string>Theta</string>
    <string>Iota</string>
    <string>Kappa</string>
    <string>Lambda</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Xi</string>
    <string>Omicron</string>
    <string>Pi</string>
    <string>Rho</string>
    <string>Sigma</string>
    <string>Tau</string>
    <string>Upsilon</string>
    <string>Phi</string>
    <string>Chi</string>
    <string>Psi</string>
    <string>uni03A9</string>
    <string>Alphatonos</string>
    <string>Epsilontonos</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
    <string>Iotadieresis</string>
    <string>Omicrontonos</string>
    <string>Upsilontonos</string>
    <string>Upsilondieresis</string>
    <string>Omegatonos</string>
    <string>Omicron_Upsilon</string>
  </array>
  <key>grek_UC_tonos</key>
  <array>
    <string>Alphatonos</string>
    <string>Epsilontonos</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
    <string>Omicrontonos</string>
    <string>Upsilontonos</string>
    <string>Omegatonos</string>
  </array>
  <key>grek_UC_tonosless</key>
  <array>
    <string>Alpha</string>
    <string>Epsilon</string>
    <string>Eta</string>
    <string>Iota</string>
    <string>Omicron</string>
    <string>Upsilon</string>
    <string>uni03A9</string>
  </array>
  <key>grek_lc</key>
  <array>
    <string>alpha</string>
    <string>beta</string>
    <string>gamma</string>
    <string>delta</string>
    <string>epsilon</string>
    <string>zeta</string>
    <string>eta</string>
    <string>theta</string>
    <string>iota</string>
    <string>kappa</string>
    <string>lambda</string>
    <string>uni03BC</string>
    <string>nu</string>
    <string>xi</string>
    <string>omicron</string>
    <string>pi</string>
    <string>rho</string>
    <string>uni03C2</string>
    <string>sigma</string>
    <string>tau</string>
    <string>upsilon</string>
    <string>phi</string>
    <string>chi</string>
    <string>psi</string>
    <string>omega</string>
    <string>alphatonos</string>
    <string>epsilontonos</string>
    <string>etatonos</string>
    <string>iotatonos</string>
    <string>iotadieresis</string>
    <string>iotadieresistonos</string>
    <string>omicrontonos</string>
    <string>upsilontonos</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>omegatonos</string>
    <string>gamma_gamma</string>
    <string>lambda_lambda</string>
  </array>
  <key>loclBGR_0</key>
  <array>
    <string>uni0414</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni045D</string>
    <string>uni043A</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0446</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044C</string>
    <string>uni044E</string>
  </array>
  <key>loclBGR_1</key>
  <array>
    <string>uni0414.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni045D.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Lambda</string>
    <string>uni0394</string>
    <string>uni0410</string>
    <string>uni1EA0</string>
    <string>uni1EA2</string>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EA8</string>
    <string>uni1EAA</string>
    <string>uni1EAC</string>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB2</string>
    <string>uni1EB4</string>
    <string>uni1EB6</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Omicrontonos</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Theta</string>
    <string>uni0417</string>
    <string>uni041E</string>
    <string>uni042E</string>
    <string>uni0472</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
  </array>
  <key>public.kern1.Gamma</key>
  <array>
    <string>Gamma</string>
    <string>uni0403</string>
    <string>uni0413</string>
    <string>uni0490</string>
    <string>uni04F6</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>K</string>
    <string>Kappa</string>
    <string>uni0136</string>
    <string>uni01E8</string>
    <string>uni03CF</string>
    <string>uni041A</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>uni013B</string>
  </array>
  <key>public.kern1.L1</key>
  <array>
    <string>L.ss05</string>
    <string>Lacute.ss05</string>
    <string>Lcaron.ss05</string>
    <string>uni013B.ss05</string>
    <string>uni1E36.ss05</string>
    <string>uni1E3A.ss05</string>
  </array>
  <key>public.kern1.P</key>
  <array>
    <string>P</string>
    <string>Rho</string>
    <string>uni0420</string>
    <string>uni1E56</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
    <string>uni0422</string>
  </array>
  <key>public.kern1.Ucy</key>
  <array>
    <string>uni040E</string>
    <string>uni0423</string>
    <string>uni04EE</string>
    <string>uni04F0</string>
    <string>uni04F2</string>
  </array>
  <key>public.kern1.X</key>
  <array>
    <string>Chi</string>
    <string>X</string>
    <string>uni0425</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Upsilontonos</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni01B3</string>
    <string>uni0232</string>
    <string>uni04AE</string>
    <string>uni1EF4</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern1.gecy</key>
  <array>
    <string>uni0433</string>
    <string>uni0453</string>
    <string>uni0491</string>
    <string>uni04F7</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>k</string>
    <string>kappa</string>
    <string>uni0137</string>
    <string>uni0199</string>
    <string>uni01E9</string>
    <string>uni043A</string>
    <string>uni043A.loclBGR</string>
    <string>uni045C</string>
    <string>uni049D</string>
    <string>uni04A1</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>underscore</string>
  </array>
  <key>public.kern1.quote</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.x</key>
  <array>
    <string>chi</string>
    <string>uni0445</string>
    <string>x</string>
  </array>
  <key>public.kern2.A1</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Alpha</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>uni0410</string>
    <string>uni1EA0</string>
    <string>uni1EA2</string>
    <string>uni1EA4</string>
    <string>uni1EA6</string>
    <string>uni1EA8</string>
    <string>uni1EAA</string>
    <string>uni1EAC</string>
    <string>uni1EAE</string>
    <string>uni1EB0</string>
    <string>uni1EB2</string>
    <string>uni1EB4</string>
    <string>uni1EB6</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omicron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
    <string>Theta</string>
    <string>uni0122</string>
    <string>uni0404</string>
    <string>uni041E</string>
    <string>uni0421</string>
    <string>uni0472</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni051A</string>
  </array>
  <key>public.kern2.Elcy</key>
  <array>
    <string>uni0409</string>
    <string>uni041B</string>
  </array>
  <key>public.kern2.Hookleft</key>
  <array>
    <string>uni0181</string>
    <string>uni018A</string>
  </array>
  <key>public.kern2.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
    <string>uni0422</string>
  </array>
  <key>public.kern2.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.X</key>
  <array>
    <string>Chi</string>
    <string>X</string>
    <string>uni0425</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Upsilontonos</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>uni01B3</string>
    <string>uni0232</string>
    <string>uni04AE</string>
    <string>uni1EF4</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>aeacute</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>atilde</string>
    <string>uni01CE</string>
    <string>uni01DF</string>
    <string>uni0201</string>
    <string>uni0203</string>
    <string>uni0259</string>
    <string>uni0430</string>
    <string>uni04D1</string>
    <string>uni04D3</string>
    <string>uni04D5</string>
    <string>uni04D9</string>
    <string>uni1EA1</string>
    <string>uni1EA3</string>
    <string>uni1EA5</string>
    <string>uni1EA7</string>
    <string>uni1EA9</string>
    <string>uni1EAB</string>
    <string>uni1EAD</string>
    <string>uni1EAF</string>
    <string>uni1EB1</string>
    <string>uni1EB3</string>
    <string>uni1EB5</string>
    <string>uni1EB7</string>
  </array>
  <key>public.kern2.alpha</key>
  <array>
    <string>rho</string>
  </array>
  <key>public.kern2.c</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>epsilon</string>
    <string>epsilontonos</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>omicron</string>
    <string>omicrontonos</string>
    <string>otilde</string>
    <string>phi</string>
    <string>q</string>
    <string>sigma</string>
    <string>uni01C6</string>
    <string>uni01D2</string>
    <string>uni01EB</string>
    <string>uni0205</string>
    <string>uni0207</string>
    <string>uni020D</string>
    <string>uni020F</string>
    <string>uni022B</string>
    <string>uni022D</string>
    <string>uni022F</string>
    <string>uni0231</string>
    <string>uni0254</string>
    <string>uni0256</string>
    <string>uni0257</string>
    <string>uni025B</string>
    <string>uni03C2</string>
    <string>uni0435</string>
    <string>uni043E</string>
    <string>uni0441</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0454</string>
    <string>uni0473</string>
    <string>uni04AB</string>
    <string>uni04D7</string>
    <string>uni04E7</string>
    <string>uni04E9</string>
    <string>uni051B</string>
    <string>uni1E0B</string>
    <string>uni1E0D</string>
    <string>uni1E11</string>
    <string>uni1EB9</string>
    <string>uni1EBB</string>
    <string>uni1EBD</string>
    <string>uni1EBF</string>
    <string>uni1EC1</string>
    <string>uni1EC3</string>
    <string>uni1EC5</string>
    <string>uni1EC7</string>
    <string>uni1ECD</string>
    <string>uni1ECF</string>
    <string>uni1ED1</string>
    <string>uni1ED3</string>
    <string>uni1ED5</string>
    <string>uni1ED7</string>
    <string>uni1ED9</string>
  </array>
  <key>public.kern2.g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcaron</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>uni0123</string>
    <string>uni01F5</string>
    <string>uni0434</string>
    <string>uni0434.loclBGR</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>underscore</string>
  </array>
  <key>public.kern2.quote</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.upsilon</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>public.kern2.x</key>
  <array>
    <string>chi</string>
    <string>uni0445</string>
    <string>x</string>
  </array>
</dict>
</plist>
