<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-10</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-30</integer>
    <key>public.kern2.period</key>
    <integer>-30</integer>
  </dict>
  <key>Gamma</key>
  <dict>
    <key>public.kern2.alpha</key>
    <integer>-40</integer>
    <key>public.kern2.c</key>
    <integer>-40</integer>
  </dict>
  <key>Lslash.ss05</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-60</integer>
    <key>public.kern2.W</key>
    <integer>-10</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-30</integer>
    <key>public.kern2.period</key>
    <integer>-50</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-20</integer>
    <key>public.kern2.period</key>
    <integer>-50</integer>
  </dict>
  <key>gamma</key>
  <dict>
    <key>lambda</key>
    <integer>-40</integer>
  </dict>
  <key>lambda</key>
  <dict>
    <key>gamma</key>
    <integer>-40</integer>
  </dict>
  <key>question</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-20</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>V</key>
    <integer>-60</integer>
    <key>public.kern2.C</key>
    <integer>-30</integer>
    <key>public.kern2.W</key>
    <integer>-70</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>r</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>10</integer>
    <key>y</key>
    <integer>10</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>public.kern2.period</key>
    <integer>-50</integer>
  </dict>
  <key>tonos</key>
  <dict>
    <key>Alpha</key>
    <integer>-70</integer>
    <key>uni03A9</key>
    <integer>-30</integer>
    <key>public.kern2.C</key>
    <integer>-30</integer>
  </dict>
  <key>zeta</key>
  <dict>
    <key>public.kern2.upsilon</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>question</key>
    <integer>-40</integer>
    <key>public.kern2.T</key>
    <integer>-50</integer>
    <key>public.kern2.W</key>
    <integer>-10</integer>
    <key>public.kern2.Y</key>
    <integer>-40</integer>
    <key>public.kern2.quote</key>
    <integer>-60</integer>
    <key>public.kern2.quoteleft</key>
    <integer>-30</integer>
    <key>public.kern2.quoteright</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>V</key>
    <integer>-55</integer>
    <key>question</key>
    <integer>-50</integer>
    <key>public.kern2.T</key>
    <integer>-90</integer>
    <key>public.kern2.quote</key>
    <integer>-40</integer>
    <key>public.kern2.quoteleft</key>
    <integer>-90</integer>
    <key>public.kern2.quoteright</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.L1</key>
  <dict>
    <key>V</key>
    <integer>-60</integer>
    <key>public.kern2.T</key>
    <integer>-120</integer>
    <key>public.kern2.W</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>itilde</key>
    <integer>10</integer>
    <key>public.kern2.A1</key>
    <integer>-50</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
    <key>public.kern2.c</key>
    <integer>-40</integer>
    <key>public.kern2.period</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-10</integer>
    <key>public.kern2.period</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-40</integer>
    <key>public.kern2.C</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.period</key>
  <dict>
    <key>V</key>
    <integer>-60</integer>
    <key>four</key>
    <integer>-10</integer>
    <key>public.kern2.T</key>
    <integer>-120</integer>
    <key>public.kern2.W</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.quote</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.quoteleft</key>
  <dict>
    <key>questiondown</key>
    <integer>-150</integer>
    <key>public.kern2.A1</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.quoteright</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-40</integer>
  </dict>
</dict>
</plist>
